<div>
    <div class="centered main-card">
        <mat-progress-spinner *ngIf="hugeLoading" diameter="60" class="spinner-container big-spinner" [color]="color" [mode]="mode"></mat-progress-spinner>
        <div class="normal-side center-flex" style="flex-direction:column;">
            <div class="title">
                Usuario {{userInfo?.displayName}}
            </div>
            <div>
                <form class="example-form" [formGroup]="userForm">
                    <mat-form-field class="example-full-width" appearance="fill" >
                        <mat-label>Nombre y Apellido</mat-label>
                        <input formControlName="name" matInput  [value]="userInfo?.displayName" readonly>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Número de Registro</mat-label>
                        <input formControlName="register" matInput disabled [value]="userInfo?.registerNumber" readonly>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Teléfono</mat-label>
                        <input formControlName="phone" matInput disabled [value]="userInfo?.phone" readonly>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Correo Electrónico</mat-label>
                        <input formControlName="mail" matInput disabled [value]="userInfo?.email" readonly>
                    </mat-form-field>
                </form>
                    <div >
                        <button style="margin-bottom: 10px; cursor: default;" mat-raised-button color="primary"
                                matTooltip="Imagen con fondo blanco, necesario" matTooltipPosition="right">
                            <label style="cursor: pointer;">
                                <small>{{userInfo?.firma ? 'Actualizar' :'Adjuntar'}} Imagen de Firma, Examinar...</small>
                                <input #i hidden type="file" accept="image/*" (change)="onFileChange($event, i.files, 'sign')"
                                    multiple="false">
                            </label>
                        </button>
                        <mat-icon *ngIf="userInfo?.firma" style="color: green">task_alt</mat-icon>
                    </div>

                    <div>
                        <button style="margin-bottom: 10px; cursor: default;" mat-raised-button color="primary"
                                matTooltip="Imagen con fondo blanco, necesario" matTooltipPosition="right">
                            <label style="cursor: pointer;">
                                <small>{{userInfo?.sello ? 'Actualizar' :'Adjuntar'}} Imagen de Sello, Examinar...</small>
                                <input #j hidden type="file" accept="image/*" (change)="onFileChange($event, j.files, 'sello')"
                                    multiple="false">
                            </label>
                        </button>
                        <mat-icon *ngIf="userInfo?.sello" style="color: green">task_alt</mat-icon>
                    </div>
                    <div>
                        <button style="margin-bottom: 10px; cursor: default;" mat-raised-button color="primary"
                                matTooltip="Imagen con fondo blanco, necesario" matTooltipPosition="right">
                            <label style="cursor: pointer;">
                                <small>{{userInfo?.logo ? 'Actualizar' :'Adjuntar'}} Logo Médico, Examinar...</small>
                                <input #k hidden type="file" accept="image/*" (change)="uploadLogo($event, k.files)"
                                    multiple="false">
                            </label>
                        </button>
                        <mat-icon *ngIf="userInfo?.logo" style="color: green">task_alt</mat-icon>
                    </div>
                    <div>
                        
                        <button style="margin-bottom: 10px; cursor: pointer;" routerLink="/Receta" mat-raised-button color="warn">
                            Crear Receta
                        </button>
                    </div>

            </div>

        </div>
        <div class="blue-side center-flex">
            <img style="width: 70%;" src="../../assets/user.png">
        </div>
    </div>
</div>