<div>

    <div class="centered main-card">
        <div class="normal-side center-flex" style="flex-direction:column;">
            <div class="title">
                Usuario {{userInfo?.displayName}}
            </div>
            <div>
                <form class="example-form" [formGroup]="userForm">
                    <mat-form-field class="example-full-width" appearance="fill" >
                        <mat-label>Nombre y Apellido</mat-label>
                        <input formControlName="name" matInput  [value]="userInfo?.displayName" readonly>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Número de Registro</mat-label>
                        <input formControlName="register" matInput disabled [value]="userInfo?.registerNumber" readonly>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Teléfono</mat-label>
                        <input formControlName="phone" matInput disabled [value]="userInfo?.phone" readonly>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Correo Electrónico</mat-label>
                        <input formControlName="mail" matInput disabled [value]="userInfo?.email" readonly>
                    </mat-form-field>
                </form>
                <!-- <button class="example-full-width " mat-raised-button color="primary"
                    (click)="onClick()">Update</button> -->
                    <div>
                        <button style="margin-bottom: 10px; cursor: default;" mat-raised-button color="primary">
                            <label style="cursor: pointer;">
                                <small>{{userInfo?.firma ? 'Actualizar' :'Adjuntar'}} Imagen de Firma, Examinar...</small>
                                <input #i hidden type="file" accept="image/*" (change)="onFileChange($event, i.files, 'sign')"
                                    multiple="false">
                            </label>
                        </button>
                        <img [src]="userInfo?.firma" class="imagen-local" />
                        <!-- <span>{{nameSign? nameSign: 'Adjuntar Firma'}}</span> -->
                    </div>

                    <div>
                        <button style="margin-bottom: 10px; cursor: default;" mat-raised-button color="primary">
                            <label style="cursor: pointer;">
                                <small>{{userInfo?.sello ? 'Actualizar' :'Adjuntar'}} Imagen de Sello, Examinar...</small>
                                <input #j hidden type="file" accept="image/*" (change)="onFileChange($event, j.files, 'sello')"
                                    multiple="false">
                            </label>
                        </button>
                        <img [src]="userInfo?.sello" class="imagen-local"/>
                        <!-- <span>{{nameSello? nameSello: 'Adjuntar Sello'}}</span> -->
                    </div>

            </div>

        </div>
        <div class="blue-side center-flex">
            <img style="width: 70%;" src="../../assets/user.png">
        </div>
    </div>
</div>