
.example-full-width {
    width: 100%;
  }
  ::ng-deep .mat-form-field-wrapper{
      margin-left: 10px;
  }
    .main-no-flex{
      min-width: 250px;
      max-width: 420px;
      width: 100%;
      }

    .regular-flex{
      display: flex;
    }
  .regular-form{
    width: 205px;;
    }
  
    textarea{
      height: 90px;
    }
    .diag{
      height: 158px
    }

  @media all and (max-width: 700px) {
    .regular-flex{
      align-items:center;
      display: block;
  }
  .regular-form{
    width: 100%;
  }
  .main-no-flex{
    max-height: 350px;
  }

  }