
  .example-full-width {
    width: 100%;
  }
  
  .registrarse {
    font-family: "Inter", sans-serif;
    color: rgba(0, 127, 255, 0.54);
    font-size: 17px;
    letter-spacing: 0px;
    line-height: 2;
    text-decoration: underline;
    text-align: center;
  }
  .ima-bisel{
    display:flex; 
    position:absolute;
  }


  /* MEDIA QUERIES */

  @media all and (max-width: 700px) {
    .blue-side{
        display: none;
    }
    .ima-bisel{
      display:flex; 
      position:initial;
    }

  }