.example-full-width {
    width: 100%;
  }
  ::ng-deep .mat-form-field-wrapper{
      margin-left: 10px;
  }
  .main-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-width: 250px;
    max-width: 420px;
    width: 100%;
    }
  
    textarea{
      height: 50px;
    }


  @media all and (max-width: 700px) {
    /* .blue-side{
        width: 100%;
        margin-top: 20px;
    } */
    .main-flex{
        flex-direction: column;
        align-items:center;
    }

  }