.example-form {
    min-width: 250px;
    max-width: 420px;
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }
  .ima-bisel{
    display:flex; 
    position:absolute;
  }

  @media all and (max-width: 700px) {
    .blue-side{
        display: none;
    }
    .ima-bisel{
      display:flex; 
      position:initial;
    }

  }