<div class="container">
    <div id="pdfTable" #pdfTable *ngIf="htmlData">
        <img src="{{baseUrl}}/assets/Logo y coloresBisel.png" style="width: 80px">
        <h2 style="color:brown;">Imágenes Bisel</h2>
        <div>
            Fecha: {{getDate()}}
            Doctor: {{user.displayName}}
        </div>
        <div>
            <h2>Datos Paciente</h2>
            <div>{{htmlData.name}}</div>
            <div>{{htmlData.mail}}</div>
            <div>{{htmlData.docId}}</div>
        </div>
        <div>
            <h2>Solicitud de Imágen</h2>
            <div class="row-dir">
                <div>
                    <div class="text-format">Imágen: </div>
                    {{htmlData.imagenTipo}}
                </div>
            </div>
            <div class="">
                <div>
                    <div>
                        <div class="text-format">Descripción </div>
                    </div>
                    {{htmlData.descripcion}}
                </div>
                <div >
                    <div>
                        <div class="text-format">Motivo de la Solicitud </div>
                    </div>
                    {{htmlData.motivo}}
                </div>
                <div>
                    <div>
                        <div class="text-format">Resumen Clínico: </div>
                    </div>
                    {{htmlData.resumen}}
                </div>
            </div>
            <div>
                    <span class="text-format">firma: 
                        <img [src]="user.firma" style="width: 20px">
                    </span>
                    
            </div>
            <div class="row-dir">
                <div>
                    <div class="text-format">Sello: </div>
                </div>
                <div>
                    <img [src]=" user.sello" style="width: 20px">
                </div>
            </div>


        </div>

    </div>

    <!-- <div id="pdfTable" #pdfTable>

        <h2>Angular HTML To PDF Generator Example - ItSolutionStuff.com</h2>
    
                  
    
        <table class="table table-bordered">
    
          <thead>
    
            <tr>
    
              <th>Firstname</th>
    
              <th>Lastname</th>
    
              <th>Website</th>
    
            </tr>
    
          </thead>
    
          <tbody>
    
            <tr>
    
              <td>Hardik</td>
    
              <td>Savani</td>
    
              <td>itsolutionstuff.com</td>
    
            </tr>
    
            <tr>
    
              <td>Vimal</td>
    
              <td>Kashiyani</td>
    
              <td>hdtuto.com</td>
    
            </tr>
    
            <tr>
    
              <td>Harshad</td>
    
              <td>Pathak</td>
    
              <td>nicesnippets.com</td>
    
            </tr>
    
          </tbody>
    
        </table>
    
      </div> -->
      
    <div class="button-container" *ngIf="htmlData">
        <button class="btn-up" mat-raised-button color="primary" (click)="exportPDF('open')">Abrir PDF</button>
        <span>

            <button class="btn-up" mat-raised-button color="primary" [disabled]="loading"(click)="getSharePDF('share')">
                <mat-progress-spinner *ngIf="loading" diameter="24" class="spinner-container" [color]="color" [mode]="mode"> </mat-progress-spinner>
                Compartir PDF
            </button>
        </span>

        <button class="btn-up" mat-raised-button color="primary" (click)="exportPDF('save')">Guardar PDF</button>
        <button class="btn-up" mat-raised-button color="primary" (click)="exportPDF('print')">Imprimir PDF</button>
    </div>
    <div *ngIf="htmlData && pdfLiknk">
        <share-buttons [theme]="'modern-dark'" style="margin-left: 18%"
            [include]="['facebook','twitter','telegram','whatsapp','email','copy']" [show]="6"
            [showText]="false" [url]="pdfLiknk" [autoSetMeta]="false"></share-buttons>
    </div>
</div>

<div id="iframeContainer" #iframeContainer></div>