<div>

    <div class="centered main-card">
        <div style="display:flex; position:absolute;">
            <div style="width: 30%;">
                <img style="width:100%;" src="../../assets/Logo y coloresBisel.png">
            </div>
        </div>
        <div class="normal-side center-flex" style="flex-direction:column;">
            <div class="title">
                Recuperar 
            </div>
            <div class="title">
                Contraseña
            </div>
            <div>
                <form class="example-form"  [formGroup]="restoreForm">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Email registrado</mat-label>
                      <input formControlName="email" matInput placeholder="doctor@test.com" >
                    </mat-form-field>
                  
                </form>
                <button class="example-full-width " mat-raised-button color="primary" (click)="onClick()">Recuperar</button>
            </div>
            
        </div>
        <div class="blue-side center-flex">
            <img style="width: 70%;"  src="../../assets/DoctorIcon.png">
        </div>
    </div>
</div>