.example-form {
    min-width: 330px;
    max-width: 420px;
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }


  @media all and (max-width: 700px) {
    .blue-side{
        display: none;
    }

  }