.row-dir{
    display: flex;
    flex-direction:row;
}
h2{
    margin: 0;
}
.btn-up{
    margin: 2px;
}
.text-format{
	font-weight: bold;
    margin-right: 4px;
}
.sb-button{
    margin: 2px;
}
.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .big-spinner{
    margin-left: 51%;
    margin-top: 1%;
  }
  .html2canvas-container { width: 9000px !important; height: 9000px !important; }
  
#pdfTable{
    font-size: 9px;
    color: #024a91;
}
td span{
    color:black;
}