<div class="container">
    <div id="pdfTable" #pdfTable *ngIf="htmlData" class="height-doc">
        <!-- style="display: none;" -->
        <img src="{{baseUrl}}/assets/Logo y coloresBisel.png" style="width: 80px">
        <h2 style="color:brown;">Exámen Bisel</h2>
        <div>
            Fecha: {{getDate()}}
            Doctor: {{user.displayName}}
        </div>
        <div>
            <h2>Datos Paciente</h2>
            <div>{{htmlData.name}}</div>
            <div>{{htmlData.mail}}</div>
            <div>{{htmlData.docId}}</div>
        </div>
        <div>
            <h2>Solicitud de Examen</h2>
            <div class="row-dir">
                <div>
                    <div class="text-format">Exámenes: </div>
                </div>
            </div>
            <div class="">
                <div *ngIf="htmlData.hematologia">
                    <div>
                        <div class="text-format">Hematología: </div>
                    </div>
                    {{htmlData.hematologia}}
                </div>
                <div *ngIf="htmlData.quimica">
                    <div>
                        <div class="text-format">Química Sanguínea: </div>
                    </div>
                    {{htmlData.quimica}}
                </div>
                <div *ngIf="htmlData.copro">
                    <div>
                        <div class="text-format">Coprológico: </div>
                    </div>
                    {{htmlData.copro}}
                </div>
                <div *ngIf="htmlData.uro">
                    <div>
                        <div class="text-format">Uroanálisis: </div>
                    </div>
                    {{htmlData.uro}}
                </div>
                <div *ngIf="htmlData.bacter">
                    <div>
                        <div class="text-format">Bacteriología </div>
                    </div>
                    {{htmlData.bacter}}
                </div>
                <div *ngIf="htmlData.serio">
                    <div>
                        <div class="text-format">Seriología </div>
                    </div>
                    {{htmlData.serio}}
                </div>
                <div *ngIf="htmlData.otros">
                    <div>
                        <div class="text-format">Otros: </div>
                    </div>
                    {{htmlData.otros}}
                </div>
            </div>
            <div class="row-dir">
                <div>
                    <div class="text-format">firma: </div>
                </div>
                <div>
                    <img [src]="user.firma" style="width: 20px">
                </div>
            </div>
            <div class="row-dir">
                <div>
                    <div class="text-format">Sello: </div>
                </div>
                <div>
                    <img [src]=" user.sello" style="width: 20px">
                </div>
            </div>


        </div>

    </div>
    <div class="button-container" *ngIf="htmlData">
        <button class="btn-up" mat-raised-button color="primary" (click)="exportPDF('open')">Abrir PDF</button>
        <span>

            <button class="btn-up" mat-raised-button color="primary" [disabled]="loading"(click)="getSharePDF('share')">
                <mat-progress-spinner *ngIf="loading" diameter="24" class="spinner-container" [color]="color" [mode]="mode"> </mat-progress-spinner>
                Compartir PDF
            </button>
        </span>

        <button class="btn-up" mat-raised-button color="primary" (click)="exportPDF('save')">Guardar PDF</button>
        <button class="btn-up" mat-raised-button color="primary" (click)="exportPDF('print')">Imprimir PDF</button>
    </div>
    <div *ngIf="htmlData && pdfLiknk">
        <share-buttons [theme]="'modern-dark'" style="margin-left: 18%"
            [include]="['facebook','twitter','telegram','whatsapp','email','copy']" [show]="6"
            [showText]="false" [url]="pdfLiknk" [autoSetMeta]="false"></share-buttons>
    </div>
</div>

<div id="iframeContainer" #iframeContainer></div>