<div class="container">
    <mat-progress-spinner *ngIf="hugeLoading" diameter="60" class="spinner-container big-spinner" [color]="color" [mode]="mode"></mat-progress-spinner>
    <div class="overall-container">
        <div id="pdfTable" #pdfTable >
            <table class="table-size table-back max-width" >
                <tr>
                    <td colspan=10 class="tr0 td0" style="background-color: #3498f13b;">
                        <div style="display: flex; justify-content: space-between;">
                            <P class="p0 ft0" style="margin-top: 7px;">SOLICITUD EXÁMENES </P>
                        <img *ngIf="!user?.logo" src="../../../../assets/Logo y coloresBisel.png" style="width: 100px">
                        <img *ngIf="user?.logo" [src]=" user?.logo" style="width: 50px">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan=5 class="tr4 td16">
                        <P class="p6 ft2">NOMBRE Y APELLIDOS: <span>{{htmlData?.name}}</span></P>
                    </td>
                    <td colspan=5 class="tr0 td0">
                        <P class="p0 ft0" style="margin-top: 7px;">CÉDULA: <span>{{htmlData?.docId}}</span></P>
                    </td>
                </tr>
                <tr>
                    <td colspan=5 class="tr2 td10">
                        <P class="p0 ft0">FECHA SOLICITUD: <span>{{date | date:'mediumDate'}}</span></P>
                    </td>
                    <td colspan=5 class="tr2 td3">
                        <P class="p2 ft2">HORA SOLICITUD: <span>{{date | date:'shortTime'}}</span></P>
                    </td>
                </tr>
                <tr>
                    <td colspan=3 class="tr2 td10">
                        <P class="p0 ft0">PRIORIDAD: <span>{{htmlData?.priority}}</span></P>
                    </td>
                    <td colspan=7 class="tr2 td3">
                        <P class="p2 ft2">FECHA TOMA: <span>{{htmlData?.dateToma | date:'mediumDate'}}</span></P>
                    </td>
                </tr>
                <tr>
                    <td colspan=10 class="tr1 td16" style="background-color: #3498f13b;">
                        <P class="p11 ft5">EXÁMENES</P>
                    </td>
                </tr>
                <tr>
                    <td colspan=5 class="tr4 td16">
                        <P class="p6 ft2">1. HEMATOLOGÍA</P>
                    </td>
                    <td colspan=5 class="tr5 td20">
                        <P class="p7 ft2">2. BIOQUÍMICA</P>
                    </td>
                </tr>
                <tr>
                    <td colspan=5 class="tr4 td16">
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <P class="p6 ft2" *ngFor="let examen of htmlData?.hematologia" style="flex: 1 0 50%; "> <span>{{examen}}</span></P>
                        </div>
                    </td>
                    <td colspan=5 class="tr5 td20">
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <P class="p6 ft2" *ngFor="let examen of htmlData?.quimica" style="flex: 1 0 50%; "> <span>{{examen}}</span></P>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan=5 class="tr5 td20">
                        <P class="p7 ft2">3. HECES</P>
                    </td>
                    <td colspan=5 class="tr4 td16">
                        <P class="p6 ft2">4. ORINAS</P>
                    </td>
                </tr>
                <tr>
                    <td colspan=5 class="tr5 td20">
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <P class="p6 ft2" *ngFor="let examen of htmlData?.heces" style="flex: 1 0 50%; "> <span>{{examen}}</span></P>
                        </div>  
                    </td>
                    <td colspan=5 class="tr4 td16">
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <P class="p6 ft2" *ngFor="let examen of htmlData?.uro" style="flex: 1 0 50%; "> <span>{{examen}}</span></P>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan=5 class="tr5 td20">
                        <P class="p7 ft2">5. ENZIMAS</P>
                    </td>
                    <td colspan=5 class="tr5 td20">
                        <P class="p7 ft2">6. ELECTROLITOS</P>
                    </td>
                </tr>
                <tr>
                    <td colspan=5 class="tr5 td20">
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <P class="p6 ft2" *ngFor="let examen of htmlData?.enzimas" style="flex: 1 0 50%; "> <span>{{examen}}</span></P>
                        </div>
                    </td>
                    <td colspan=5 class="tr5 td20">
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <P class="p6 ft2" *ngFor="let examen of htmlData?.electro" style="flex: 1 0 50%; "> <span>{{examen}}</span></P>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan=5 class="tr5 td20">
                        <P class="p7 ft2">7. ESPECIAL</P>
                    </td>
                    <td colspan=5 class="tr5 td20">
                        <P class="p7 ft2">8. INMUNOLÓGICOS</P>
                    </td>
                </tr>
                <tr>
                    <td colspan=5 class="tr5 td20">
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <P class="p6 ft2" *ngFor="let examen of htmlData?.especial" style="flex: 1 0 50%; "> <span>{{examen}}</span></P>
                        </div>
                    </td>
                    <td colspan=5 class="tr5 td20">
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <P class="p6 ft2" *ngFor="let examen of htmlData?.inmuno" style="flex: 1 0 50%; "> <span>{{examen}}</span></P>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan=5 class="tr5 td20">
                        <P class="p7 ft2">9. MICROBIOLOGÍA</P>
                    </td>
                    <td colspan=5 class="tr5 td20">
                        <P class="p7 ft2">10. SERIOLOGÍA</P>
                    </td>
                </tr>
                <tr>
                    <td colspan=5 class="tr5 td20">
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <P class="p6 ft2" *ngFor="let examen of htmlData?.bacter" style="flex: 1 0 50%; "> <span>{{examen}}</span></P>
                        </div>
                    </td>
                    <td colspan=5 class="tr5 td20">
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <P class="p6 ft2" *ngFor="let examen of htmlData?.serio" style="flex: 1 0 50%; "> <span>{{examen}}</span></P>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan=5 class="tr5 td20">
                        <P class="p7 ft2">11. ENDÓCRINOS</P>
                    </td>
                    <td colspan=5 class="tr5 td20">
                        <P class="p7 ft2">12. MARCADORES TUMORALES</P>
                    </td>
                </tr>
                <tr>
                    <td colspan=5 class="tr5 td20">
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <P class="p6 ft2" *ngFor="let examen of htmlData?.endo" style="flex: 1 0 50%; "> <span>{{examen}}</span></P>
                        </div>
                    </td>
                    <td colspan=5 class="tr5 td20">
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <P class="p6 ft2" *ngFor="let examen of htmlData?.tumor" style="flex: 1 0 50%; "> <span>{{examen}}</span></P>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan=5 class="tr5 td20">
                        <P class="p7 ft2">12. LÍQUIDOS BIOLÓGICOS</P>
                    </td>
                    <td colspan=5 class="tr5 td20">
                        <P class="p7 ft2">13. OTROS</P>
                    </td>
                </tr>
                <tr>
                    <td colspan=5 class="tr5 td20">
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <P class="p6 ft2" *ngFor="let examen of htmlData?.liquido" style="flex: 1 0 50%; "> <span>{{examen}}</span></P>
                        </div>
                    </td>
                    <td colspan=10 class="tr1 td16">
                        <P class="p11 ft5"><span>{{htmlData?.otros}}</span></P>
                    </td>
                </tr>
                <tr>
                   
                </tr>
                <tr>
                    <td colspan=10 class="tr1 td16">
                        <P class="p11 ft5">OBSERVACIONES: <span>{{htmlData?.observation}}</span></P>
                    </td>
                </tr>
                <tr>
                    <td colspan=10 class="tr1 td16" style="background-color: #3498f13b;">
                        <P class="p11 ft5">DATOS DEL PREESCRIPTOR</P>
                    </td>
                </tr>
                <tr>
                    <td colspan=5  class="tr1 td16">
                        <p>Nombre y Apellido Dr. <span>{{user?.displayName}}</span></p>
                    </td>
                    <td colspan=5  class="tr1 td26">
                        <p>Firma y sello del prescriptor</p>
                        <div style="display:flex; margin-bottom: 10px;">
                            <img [src]="user?.firma" class="imag-sello">
                            <img [src]=" user?.sello" class="imag-sello">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan=5 class="tr10 td28">
                        <P class="p16 ft0"></P>
                    </td>
                    <td colspan=1 class="tr10 td30">
                        <P class="p17 ft0" style="font-size: 9px; text-align: center;"></P>
                    </td>
                    <td colspan=1 class="tr10 td30">
                        <P class="p17 ft0" style="font-size: 9px; text-align: center;"></P>
                    </td>
                    <td colspan=1 class="tr10 td30">
                        <P class="p17 ft0" style="font-size: 9px; text-align: center;"></P>
                    </td>
                    <td colspan=1 class="tr10 td30">
                        <P class="p17 ft0" style="font-size: 9px; text-align: center;"></P>
                    </td>
                    <td colspan=1 class="tr10 td30">
                        <P class="p17 ft0" style="font-size: 9px; text-align: center;"></P>
                    </td>
                </tr>
            </table>
            <div class="message-pdf">
                <span style="font-size:9px">Esta solicitud tiene validez para la toma de exámenes</span>
                <span style="font-size:9px">www.biselmed.com</span>
            </div>
             
        </div>
    </div>
    <div class="button-container" *ngIf="htmlData">
        <button [disabled]="hugeLoading" class="btn-up" mat-raised-button color="primary" (click)="exportPDF('open')">ABRIR</button>
        <span  class="no-share-display">
            <button class="btn-up" mat-raised-button color="primary" [disabled]="loading||hugeLoading"(click)="getSharePDF('share')">
                <mat-progress-spinner *ngIf="loading" diameter="24" class="spinner-container" [color]="color" [mode]="mode"> </mat-progress-spinner>
                Compartir PDF
            </button>
        </span>

        <button [disabled]="hugeLoading" class="btn-up" mat-raised-button color="primary" (click)="exportPDF('save')">GUARDAR</button>
        <button [disabled]="hugeLoading" class="btn-up" mat-raised-button color="primary" (click)="exportPDF('print')">IMPRIMIR</button>
    </div>
    <div *ngIf="htmlData && pdfLiknk">
        <share-buttons [theme]="'modern-dark'" style="margin-left: 18%"
            [include]="['facebook','twitter','telegram','whatsapp','email','copy']" [show]="6"
            [showText]="false" [url]="pdfLiknk" [autoSetMeta]="false"></share-buttons>
    </div>
</div>

<div id="iframeContainer" #iframeContainer></div>