<div *ngIf="navService.visible">
    <mat-toolbar color="primary" class="navbar">
        <div style="width: 15%;">
            <img class="nav-width" src="../../assets/Logo y coloresBisel.png">
        </div>
        <div>
            <span routerLink="/Receta" class="span-style">Recetas</span>
            <span class="span-style">Orden</span>
            <span class="span-style">Certificados</span>
        </div>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <div mat-menu-item style="cursor: pointer;" routerLink="/User">User</div>
                <div mat-menu-item style="cursor: pointer;" (click)="logOut()">Log Out</div>
            </mat-menu>
        </div>
        
        
    </mat-toolbar>

    <mat-sidenav-container  class="example-container">
        <mat-sidenav #sidenav >
            <div class="flex-col">
                <a routerLink="/Receta" mat-button>Recetas</a>
                <a href="#" mat-button>Orden</a>
                <a href="#" mat-button>Certificados</a>
                <a href="/Usuario" mat-button>Usuario</a>
                <a (click)="sidenav.toggle()"  style="color:brown" mat-button>Cerrar</a>
              </div>
        </mat-sidenav>
        <mat-sidenav-content>
        </mat-sidenav-content>
      </mat-sidenav-container>
</div>
