<div *ngIf="navService.visible">
    <mat-toolbar color="primary" class="navbar">
        <div class="nav-responsive">
            <button mat-icon-button [matMenuTriggerFor]="menuNav">
                <mat-icon>menu</mat-icon>
              </button>
              <mat-menu #menuNav="matMenu">
                <div mat-menu-item style="cursor: pointer;"  routerLink="/Receta">Recetas</div>
                <div mat-menu-item style="cursor: pointer;"  routerLink="/Examenes">Exámenes</div>
                <div mat-menu-item style="cursor: pointer;"  routerLink="/Imagenes">Imágenes</div>
                <div mat-menu-item style="cursor: pointer;"  routerLink="/Certificados">Certificados</div>
              </mat-menu>
        </div>
        
        <div style="width: 15%;">
            <img class="nav-width" src="../../assets/Logo y coloresBisel.png">
        </div>
        <div>
            <span routerLink="/Receta" class="span-style">Recetas</span>
            <span routerLink="/Examenes"  class="span-style">Exámenes</span>
            <span routerLink="/Imagenes"  class="span-style">Imágenes</span>
            <span routerLink="/Certificados" class="span-style">Certificados</span>
        </div>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <div mat-menu-item style="cursor: pointer;" routerLink="/User">Usuario</div>
                <div mat-menu-item style="cursor: pointer;" (click)="logOut()">Desconectarse</div>
            </mat-menu>
        </div>
        
        
    </mat-toolbar>
</div>
