<div class="container">
    <div id="pdfTable" #pdfTable *ngIf="htmlData">
        <!-- style="display: none;" -->
        <img src="{{baseUrl}}/assets/Logo y coloresBisel.png" style="width: 80px">
        <h2 style="color:brown;">Certificado Médico Bisel</h2>
        <div>
            Fecha: {{getDate()}}
            Doctor: {{user.displayName}}
        </div>
        <div>
            <h2>Datos Paciente</h2>
            <div>{{htmlData.name}}</div>
            <div>{{htmlData.mail}}</div>
            <div>{{htmlData.docId}}</div>
        </div>
        <div>
            <h2>Certificado Médico</h2>
            <div class="row-dir">
                <div>
                    <div class="text-format">Certificado </div>
                </div>
                <div>
                    {{htmlData.certificado}}
                </div>
            </div>
        </div>
        <div class="row-dir">
            <div>
                <div class="text-format">firma: </div>
            </div>
            <div>
                <img [src]="user.firma" style="width: 20px">
            </div>
        </div>
        <div class="row-dir">
            <div>
                <div class="text-format">Sello: </div>
            </div>
            <div>
                <img [src]=" user.sello" style="width: 20px">
            </div>
        </div>

    </div>
    <div style="display: flex; flex-direction: row; margin-top: 50px;" *ngIf="htmlData">
        <button class="btn-up" mat-raised-button color="primary" (click)="exportPDF('open')">Abrir PDF</button>
        <span>

            <button class="btn-up" mat-raised-button color="primary" [disabled]="loading"(click)="getSharePDF('share')">
                <mat-progress-spinner *ngIf="loading" diameter="24" class="spinner-container" [color]="color" [mode]="mode"> </mat-progress-spinner>
                Compartir PDF
            </button>
        </span>

        <button class="btn-up" mat-raised-button color="primary" (click)="exportPDF('save')">Guardar PDF</button>
        <button class="btn-up" mat-raised-button color="primary" (click)="exportPDF('print')">Imprimir PDF</button>
    </div>
    <div *ngIf="htmlData && pdfLiknk">
        <share-buttons [theme]="'modern-dark'" style="margin-left: 18%"
            [include]="['facebook','twitter','telegram','whatsapp','email','copy']" [show]="6"
            [showText]="false" [url]="pdfLiknk" [autoSetMeta]="false"></share-buttons>
    </div>
</div>

<div id="iframeContainer" #iframeContainer></div>